@use '../style/configs/reset';
@use '../style/content/header';
@use '../style/content/hero';
@use '../style/content/trailer';
@use '../style/content/sobre';
@use '../style/content/elenco';
@use '../style/content/avaliacoes';

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize+10;
    color: #D9E3E9;
}

@mixin title($fontSize:16px){
    @include text($fontSize:40px);
    color: #D9E3E9;
    padding-bottom: 5px
}

.text{
    @include text;
    &--gen{
        font-weight: bold;
    }
}

.text--small{
    @include text(12px);
}

.text--big{
    @include text(18px);
}

.text--link{
    @include text;
    text-decoration: none;
    font-weight: bold;

    &--primary{
        color: #000;
    }
}

.title{
    @include title;
}

.title--big{
    @include title(44px);
    &--border{
        border-bottom: 2px solid #fff;
    }
}

.title--small{
    @include title(28px);
}

.button{
    padding: 8px 16px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: 4px solid #fff;
    border-radius: 50px;
}