.hero{
    min-height: calc(100vh - 95px);
    background-position: center top;
    background-image: url('../images/hero_the_last_of_us.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(.4);
    display: flex;
    align-items: center;

    &__content{
        width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        
        @media (max-width:1366px) {
            max-width: 1024px;
        }

        img{
            height: 125px;

            @media (max-width:1024px) {
                height: 100px;
            }

            @media (max-width:768px) {
                max-width: 100%;
            }
        }

        .button{
            transition: background-color 500ms ease, color 500ms ease;
            &:hover{
                background-color: #fff;
                color: #000;
                transition: background-color 500ms ease, color 500ms ease;
            }
        }
    }
}